---
---

@import "{{ site.theme }}";

@font-face {
  font-family: cc-accidenz;
  src: url({{'/assets/fonts/CCAccidenzCommons-medium.otf' | relative_url }});
}

body {
    color: #141414;
}

header {
    font-family: cc-accidenz;
    background: initial;
    padding-top: 0;
    border-bottom-width: 0px;
}

header .inner {
    padding: 40px 10px 10px 10px;
    border-color: #ccc;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}

header h1 {
    color: black;
}

header h2 {
    color: #e40046;
}

#main-content {
    font-family: monospace;
}
