---
---

@import "{{ site.theme }}";

body {
    color: #141414;
}

header {
    font-family: media sans semicondensed;
    background: initial;
    padding-top: 0;
}

header .inner {
    padding: 0px 10px 10px 10px;
    border-color: red;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}

header h1 {
    color: black;
}

header h2 {
    color: #e40046;
}
